﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1035px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:29px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:13px;
  width:882px;
  height:60px;
  display:flex;
  font-size:29px;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:127px;
  width:100px;
  height:438px;
}
#u1_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:438px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:438px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
  display:flex;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:100px;
  height:73px;
  display:flex;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:146px;
  width:100px;
  height:73px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:219px;
  width:100px;
  height:73px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:292px;
  width:100px;
  height:73px;
  display:flex;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:73px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:365px;
  width:100px;
  height:73px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9 label {
  left:0px;
  width:100%;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:36px;
  width:43px;
  height:15px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.disabled {
}
#u9.disabled {
}
#u9_img.selected.error {
}
#u9.selected.error {
}
#u9_img.selected.hint {
}
#u9.selected.hint {
}
#u9_img.selected.error.hint {
}
#u9.selected.error.hint {
}
#u9_img.mouseOver.selected {
}
#u9.mouseOver.selected {
}
#u9_img.mouseOver.selected.error {
}
#u9.mouseOver.selected.error {
}
#u9_img.mouseOver.selected.hint {
}
#u9.mouseOver.selected.hint {
}
#u9_img.mouseOver.selected.error.hint {
}
#u9.mouseOver.selected.error.hint {
}
#u9_img.mouseDown.selected {
}
#u9.mouseDown.selected {
}
#u9_img.mouseDown.selected.error {
}
#u9.mouseDown.selected.error {
}
#u9_img.mouseDown.selected.hint {
}
#u9.mouseDown.selected.hint {
}
#u9_img.mouseDown.selected.error.hint {
}
#u9.mouseDown.selected.error.hint {
}
#u9_img.mouseOver.mouseDown.selected {
}
#u9.mouseOver.mouseDown.selected {
}
#u9_img.mouseOver.mouseDown.selected.error {
}
#u9.mouseOver.mouseDown.selected.error {
}
#u9_img.mouseOver.mouseDown.selected.hint {
}
#u9.mouseOver.mouseDown.selected.hint {
}
#u9_img.mouseOver.mouseDown.selected.error.hint {
}
#u9.mouseOver.mouseDown.selected.error.hint {
}
#u9_img.focused.selected {
}
#u9.focused.selected {
}
#u9_img.focused.selected.error {
}
#u9.focused.selected.error {
}
#u9_img.focused.selected.hint {
}
#u9.focused.selected.hint {
}
#u9_img.focused.selected.error.hint {
}
#u9.focused.selected.error.hint {
}
#u9_img.selected.disabled {
}
#u9.selected.disabled {
}
#u9_img.selected.hint.disabled {
}
#u9.selected.hint.disabled {
}
#u9_img.selected.error.disabled {
}
#u9.selected.error.disabled {
}
#u9_img.selected.error.hint.disabled {
}
#u9.selected.error.hint.disabled {
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:26px;
  white-space:nowrap;
  text-transform:none;
}
#u9_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:210px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:233px;
  width:275px;
  height:210px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:210px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:233px;
  width:286px;
  height:210px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
